# List packages that are/would be required for installation

--find-links=https://orange.biolab.si/download/files/wheelhouse
--extra-index-url=https://pypi.anaconda.org/ales-erjavec/simple

--only-binary numpy,scipy,scikit-learn,PyQt5,opentsne

AnyQt==0.0.10
Bottleneck==1.2.1
CacheControl==0.12.5
certifi==2019.9.11
chardet==3.0.4
commonmark==0.9.0
cycler==0.10.0
decorator==4.4.0
docutils==0.13.1
future==0.17.1
idna==2.8
joblib==0.11
keyring==10.3.1
keyrings.alt==2.2
kiwisolver==1.1.0
llvmlite==0.29.0
lockfile==0.12.2
matplotlib==3.1.1
msgpack==0.6.2
networkx==2.3
numba==0.45.1
numpy==1.16.5
openTSNE==0.3.11
orange-canvas-core==0.1.7
orange-widget-base==4.0.1
Orange3==3.23.1
pandas==0.25.1
pynndescent==0.3.3
pyparsing==2.4.2
PyQt5==5.12.3
pyqtwebengine==5.12.1
PyQt5-sip==12.7.0
pyqtgraph==0.10.0
python-dateutil==2.8.0
python-louvain==0.13
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
scikit-learn==0.21.3
scipy==1.2.2
serverfiles==0.3.0
sip==4.19.8
six==1.12.0
urllib3==1.25.6
xlrd==1.2.0
XlsxWriter==1.2.1
